:host {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  overflow: hidden;
  flex-grow: 1;
=======
  flex-grow: 1;

  .imx-flex-container{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding-bottom: 20px;
  }

  imx-busy-indicator{
    justify-self: center;
    align-self: center;
  }
>>>>>>> oned/v92
}

.imx-table-container {
  flex: 1 1 auto;
<<<<<<< HEAD
  overflow-y: auto;
=======
>>>>>>> oned/v92

  > :nth-child(2) {
    flex: 1 1 auto;
  }
}

.imx-refresh-line {
  margin-bottom: 10px;
<<<<<<< HEAD
=======
  display: flex;
  flex-direction: row;
>>>>>>> oned/v92
}

.reactivate-radio {
  display: block;
<<<<<<< HEAD
  margin-bottom: 1em;
}

.reactivate-card {
=======
}

.inner-card {
>>>>>>> oned/v92
  margin-top: 1em;

  mat-card-content {
    padding: 0 1em;
  }
}

.showmessage {
  margin-left: 1em;
}
<<<<<<< HEAD
=======

.objecttype {
  font-style: italic;
  font-size: smaller;
}

.objectlist {
  list-style-type: initial;
}

.small-busy {
  margin-left: 1em;
  align-self: center;
  flex: 1 1 auto;
}
>>>>>>> oned/v92
